html,
body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}

body {
    background: #383838;
}

h1 {
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-weight: 600;
}

nav {
    width: 100%;
    height: 4rem;
    background: #48c9b0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    text-align: center !important;
}

.containerA {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerB {
    width: 90%;
    height: 80%;
    /* border: solid #e0e1e1 1px; */
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
}

.playerBox {
    width: 20%;
    height: 100%;
    border: solid #e0e1e1 1px;
    border-radius: 1rem;
    margin: 1rem;
}

.game {
    width: 60%;
    height: 100%;
    border: solid #e0e1e1 1px;
    border-radius: 1rem;
    margin: 1rem;
    display: inline-grid;
    justify-content: center;
    align-items: center;
}

.pName {
    margin: 2rem;
    border-bottom: solid #e0e1e1 1px;
}

.gBox {
    width: 90%;
    height: 90%;
    border-radius: 1rem;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
}

.card {
    width: 30%;
    height: 30%;
    border: solid #e0e1e1 1px;
    border-radius: 1rem;
    margin: 0.5rem;
    z-index: 1000;
    background: transparent;
}

.reset {
    width: 6rem;
    height: 3rem;
    background: #e74c3c;
    border: solid black 2px;
    border-radius: 0.5rem;
    position: absolute;
    right: 10px;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-weight: 500;
    font-size: 16px;
}

.reset:hover {
    background: #c0392b;
}
